@font-face {
    font-family: "doctorWho";
    src: url("../fonts/doctorWho.ttf");
}

.html,
body {
    background-color: blue;
}

body {
    background-image: url("../images/vortex.jpg");
}
.container {
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    width: 58%;
    height: 600px;
    color: white;
    margin: auto;
    margin-top: 25px;
    font-family: "oswald";
    text-shadow: 2px 2px black;
}
.top-font {
    font-family: "doctorWho";
    font-size: 128px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px black;
    line-height: 100px;
    margin: 10px 0 0 0;
}
.counter{
    float: right;
}
.wrong{
    float: left;
}
.soundPlayer{
    display: none;
}

